<h1>Novo Usuário</h1>

<form method="post" class="form">
  <label>Nome</label>
  <input name="nome" required>

  <label>Telefone</label>
  <input name="telefone" required>

  <label>E-mail</label>
  <input name="email">

  <button class="btn" type="submit">Salvar</button>
</form>

<br>
<a href="/clientes/<%= cliente.id %>">← Voltar</a>
